<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.schabi.newpipe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/OpeningTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".player.old.PlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/OldVideoPlayerTheme"
            tools:ignore="UnusedAttribute"/>

        <service
            android:name=".player.BackgroundPlayer"
            android:exported="false"/>

        <activity
            android:name=".player.BackgroundPlayerActivity"
            android:launchMode="singleTask"
            android:label="@string/title_activity_background_player"/>

        <activity
            android:name=".player.PopupVideoPlayerActivity"
            android:launchMode="singleTask"
            android:label="@string/title_activity_popup_player"/>

        <service
            android:name=".player.PopupVideoPlayer"
            android:exported="false"/>

        <activity
            android:name=".player.MainVideoPlayer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"/>

        <activity
            android:name=".history.HistoryActivity"
            android:label="@string/title_activity_history"/>

        <service android:name=".subscription.services.SubscriptionsImportService"/>
        <service android:name=".subscription.services.SubscriptionsExportService"/>

        <activity
            android:name=".PanicResponderActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ExitActivity"
            android:label="@string/general_error"
            android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:name=".report.ErrorActivity"/>

        <!-- giga get related -->
        <activity
            android:name=".download.DownloadActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>

        <service android:name="us.shandian.giga.service.DownloadManagerService"/>

        <activity
            android:name=".util.FilePickerActivityHelper"
            android:label="@string/app_name"
            android:theme="@style/FilePickerThemeDark">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReCaptchaActivity"
            android:label="@string/reCaptchaActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths"/>
        </provider>

        <activity
            android:name=".RouterActivity"
            android:excludeFromRecents="true"
            android:label="@string/preferred_player_share_menu_title"
            android:taskAffinity=""
            android:theme="@style/RouterActivityThemeDark">
        </activity>

        <service
            android:name=".RouterActivity$FetcherService"
            android:exported="false"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />

        <receiver
            android:name=".util.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="BUGLY_APPID"
            android:value="f7681ab8b8" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="google_play" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />
    </application>
</manifest>